.jumbotron{
  background-color: darkgreen;
  color: white;
  border-radius: 40px;
  padding: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right:25%;
  margin-left:25%;
  height: 100%;
}

body{
	background-color:darkgrey;
}

.clock-display{
	color:white;
	font-size:19pt;
}